.dashboard-container {
    height: 100%;
    background: #F9F9F9;
    padding: 50px 100px;
    margin: auto;

    .controls {
        display: flex;

        > * {
            width: 100%;
        }

        .add-btn-container {
            text-align: right;
        }

        button {
            color: var(--white);
            font-size: 18px;
            background: var(--main-color);
            border: none;
            border-radius: 5px;
            padding: 15px 30px;
            transition: all 0.3s ease-out;
        }
    }
}