.task-component {
    height: 45vh;
    background: var(--white);
    border-radius: 5px;
    box-shadow: 0 0 10px #D3D3D3;
    padding: 20px;
    margin: 30px 0;
    overflow-y: auto;

    h3 {
        font-family: Arial, Helvetica, sans-serif;
    }

    .task-list {
        margin: 0 20px;
    }

    .task-header {
        display: grid;
        grid-template-columns: 40px repeat(2, 1fr) 100px;

        h4 {
            font-weight: normal;
        }

        .title {
            grid-column: 2 / 2;
        }
    }

    .tasks {
        background: #D3D3D3;
        border-radius: 5px;
        box-shadow: 0 0 5px #D3D3D3;
        margin: 2px 0;

        .list {
            display: grid;
            grid-template-columns: 30px repeat(2, 1fr) repeat(1, 60px);
            align-items: center;
            padding: 5px 10px;
            transition: all 0.2s ease-out;

            &:nth-child(even) {
                background: #FFF;
            }

            &:hover {
                background: #F0F0F0;
                
            }
        }

        input {
            margin-right: 10px;
        }

        p {
            width: 100%;
            text-overflow: ellipsis;
        }
    }

    button {
        padding: 5px;
        margin: 0 5px;
    }

    .delete-btn {
        grid-column: -1 / -1;
    }
}